@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    color: white;
    box-sizing: border-box;
    font-family: Courgette;
}

html, body {
    background-image: url('Images/background2.jpg');
    transition: opacity 0.5s ease;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    opacity: 1;
    padding: 0;
}

/*Navigation*/
.nav a{
    margin: 0;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(239, 162, 162, 0.3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
}

/*Header*/
.main-header{
    text-align: center;
    padding: 30px;
}

.header{
    font-family: Courgette;
    font-size: 30px;
}

ul{
    display: flex;
    gap: 30px;
}
li{
    display: inline;
}


.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;

}

/*-----Footer-------*/
footer {
    text-align: center;
    padding: 30px 0;
}
  
footer .copyright-footer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

footer .credits {
    font-size: 14px;
}

.main-footer{
    color: black;
    padding: .25em 0;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container{
    flex-grow: 1;
    text-align: end;
}
.footer-nav li{
    padding: 0 .5em;
}
.footer-nav img{
    width: 45px;
    height: 45px;
}